{% extends "layout.html" %}
{% load widget_tweaks %}
{% block content %}
    <div style="margin: 5rem;">
        <form method="POST" action="">
        {% csrf_token %}
            {% for item in form %}
                <div class="form-group">
                    {% if item.label == 'Waste generator' %}
                        <label>{{ item.label }}</label>: {{item|add_class:"form-control"}}
                        <label>Add Generator</label> <a href="{% url 'waste:create' %}"><i class="fas fa-plus"></i></a>
                    {% else %}
                        <label>{{ item.label }}</label>: {{item|add_class:"form-control"}}
                    {% endif %}
                </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
    
{% endblock content %}