{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="wrapper">
    
   
    <div id="content">

        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>title of order</h3>
            </div>
            <ul class="lis-unstyled components">
                <p>Sub title of order</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>


        <div style="margin-left: 5rem;">
            <div class="card" style="width: 18rem;">
            {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
            <div class="card-body">
                <h5 class="card-title">{{ waste_order.waste_transfer_note_number}}</h5>
                <p class="card-text">{{ waste_order.waste_description }}</p>
                <p class="card-text">{{ waste_order.total_amount}} {{waste_order.unit_of_measurement}}</p>
                <a href="{% url 'order:order-update' pk=waste_order.pk %}" class="btn btn-primary">Edit Details</a>
                <a href="{% url 'order:order-process' pk=waste_order.pk %}" class="btn btn-primary">Process Order</a>
            </div>
            </div>
                
        </div>
    </div>
</div>



{% endblock content %}