{% extends "layout.html" %}
{% load widget_tweaks %}
{% block content %}

{% include "service_sidebar.html" %}
    <div style="margin-left: 5rem; float: left;">
    <h3>Waste Acceptance Request</h3>
    <hr/>
        <form method="POST" action="">
        {% csrf_token %}
            {% for item in form %}
                <div class="form-group">
                    <label>{{ item.label }}</lable>: {{item|add_class:"form-control"}}
                </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Submit</button>
            <a href="" class="btn btn-primary"> Next Service</a>
        </form>
    </div>
    
{% endblock content %}